<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html></title>
</head>
<body>

 <form>
      <div class="col">
	  <p><b>In this project, I build a linear regression model to predict the chance of admission into a particular university based on studetent's profile.</b></p>




      <h3> Predicted Results</h3>
      {{prediction_results}}
      </div>


  </form>



<div class="bottom-container">
  <div class="row">
    <marquee><h3>Model Developed and Deployed by: Krishna Mridha</h3></marquee>
  </div>
</div>


</body>
</html>